@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
    font-size: 13px;
    overflow-x: hidden;
}

.espaco{
    margin-bottom: 10px;
}

header {
    height: 100px;
    background-color: #000;
    color: #fff;
    
}

.header{
    max-width: 1140px;
    height: 100px;
    margin:auto;
    display: flex;
    align-items: center;    
}

.logo{
    width: 100px;
}

.logoimg{
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 50%;
}

.menu-opener{
    display: none;
}

.menu{
    display: flex;
    flex:1;    
    justify-content: flex-end;
    
}

.menu ul,
.menu li{
    list-style:none ;
}

.menu ul{
    display: flex;
}

.menu li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu .active a,
.menu li a:hover{
    border-bottom: 5px solid #B28756;
    color: #ccc;
}

.button{
    display: inline-block;
    background-color: #B28756;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 20px;

}

.button:hover{
    background-color: black;
}

.banner{
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url(../media/bg.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
}

.banner .sliders{
    width: 1000vw;
    height: 100%;
}

.banner .slide{
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span{
    color: #B28756;
}

.banner h2{
    text-transform: uppercase;
    margin-top: 20px;

}

.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active{
    background-color: #B28756;
}

.default {
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title{
    font-size: 20px;       
}

.default .section-desc{
    font-size: 11px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
    
}

.default .section-body{
    max-width: 1140px;
    margin: auto;
}

.light{
    background-color: #f7f7f7;
}

.light .section-title,
.light .section-body{
    color: #000;
}

.dark{
    background-color: #000;
}

.dark .section-title,
.dark .section-body{
    color: #fff;

}

/*
Css de area especificas.
*/

.section-aboutus{
    display: flex;
}

.section-aboutus--left{
    flex: 1;
}

.section-aboutus--right{
   width: 520px;
   text-align: center;
}

.section-aboutus--right img{
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-aboutus--left p{
    font-size: 11px;
    line-height: 25px;
    
}

.section-services{
    display: flex;
}

.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
    flex-wrap: wrap;
}

.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service p{
    margin-top: 10px;
    font-size: 13px;
    color:#999;
}

.section-service img{
    width: 59px;
    height: 59px;
}

.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section-projects--filters{
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}

.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #ccc;
    color: #555;
    border-bottom: 3px solid #EEE;
}

.section-projects--filters li:hover,
.section-projects--filters li.active{
    border-bottom: 3px solid #B28756;
    cursor: pointer;
}

.section-projects--filters li:first-child{
    border-left: 0;
}

.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.section-projects--photo{
    width: 280px;
}

.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img{
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.section-projects--photoinfo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.section-projects--photoinfo h5{
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}

.bg-team{
    background-image: url("../media/bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area{
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team{
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders{
    width: 1000vw;
    height: 100%;
}

.section-team .slide{
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;

}

.section-team .slidearea{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    flex-direction: column;
    padding: 30px;
}

.section-team-area .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-team-area .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-team-area .pointer.active{
    background-color: #B28756;
}

.section-team--avatar{
    width: 150px;
    height: auto;
    object-fit: cover;

}

.section-team--name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;

}

.section-team--role{
    font-size: 14px;
    color: #999;
    margin-top: 5px;


}

.section-team--social{
    display: flex;
    margin-top: 20px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
  
}

.section-client{
    overflow: hidden;
    margin: auto;
    text-align: center;
    max-width: 650px;
}

.section-client--avatar{
    width: 150px;
    height: auto;
    object-fit: cover;
}

.section-client--name{
    font-weight: bolder;
    font-size: 17px;
    margin-top: 30px;
}

.section-client--role{
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}

.section-client--aspas{
    margin-top: 20px;
    object-fit: cover;
    width: 25px;
}

.section-clients p{
    margin-top: 10px;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ccc;
}

.section-team--social a:hover {
    background-color: #B28756;
}

.section-clients .sliders-pointers{
    margin-top: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-clients .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-clients .pointer.active{
    background-color: #B28756;
}

.white{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.empresa{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

.section-img-area{    
    display: flex;
}

.section-img--empresa{
    flex: 1;
    margin: auto;
    margin-left: 20px; 
}

.section-price-area{
    display: flex; 
}

.section-price-area .sliders{
    justify-content: center;
    align-items: center;
    flex: 1;
}


.section-price-area .slide{
    width: 220px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;

}

.section-price-area .slidearea{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    flex-direction: column;
    padding: 20px;
}

.section-price-area .section-client h5{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.section-price-area .section-client h6{
    margin-bottom: 15px;
    text-transform: uppercase;
}

.section-price-area .section-client p {
    font-size: 10px;
    color: #555;
}

.section-price-area .section-client .button{
    background-color: black;
}

.section-price-area .section-client .button:hover{
    background-color: #B28756;
}

.premium .section-body {
    max-width:initial;
}
.section-premium {
    overflow:hidden;
}
.section-premium a {
    margin-top:30px;
}
.section-premium .sliders {
    width:1000vw;
    height:100%;
}
.section-premium .slide {
    width:100vw;
    height:100%;
    display:inline-block;
}
.section-premium .slidearea {
    display:flex;
    height:100%;
    justify-content: center;
    align-items:center;
    max-width:1140px;
    border-bottom:1px solid #CCC;
    margin:auto;
    padding-bottom:40px;
}
.section-premium--left {
    flex:1;
    text-align:right;
}
.section-premium--left img {
    width:300px;
    margin-right:30px;
}
.section-premium--right {
    flex:1;
}
.section-premium--item {
    display:flex;
    margin-bottom:20px;
}
.section-premium--item img {
    width:20px;
    height:20px;
    margin-right:20px;
}
.section-premium--item div {
    flex:1;
    color:#999;
    line-height:20px;
}
.section-premium--item div h4 {
    color:#000;
    font-size:17px;
    font-weight:600;
}

.section-premium .sliders-pointers {
    width:100vw;
    height:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
}
.section-premium .pointer {
    width:15px;
    height:15px;
    border:2px solid #B28756;
    border-radius:8px;
    margin-left:5px;
    margin-right:5px;
    cursor:pointer;
}
.section-premium .pointer.active {
    background-color:#B28756;
}

.section-facts {
    display:flex;
}
.section-fact {
    flex:1;
    text-align:center;
    padding:15px;
}
.section-fact h3 {
    color:#B28756;
    font-size:45px;
}
.section-fact-line {
    width:20px;
    border-bottom:2px solid #B28756;
    margin:auto;
}
.section-fact h4 {
    margin-top:20px;
    text-transform: uppercase;
    font-size:18px;
}
.section-fact p {
    margin-top:10px;
    font-size:13px;
    color:#999;
}

.section-share {
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20px;
    background-color:#FFF;
    color:#999;
}
.section-share--legend {
    display:flex;
    align-items:center;
    margin-right:40px;
}
.section-share--legend img {
    margin-right:10px;
}
.section-share--item {
    font-size:12px;
    margin-right:20px;
    display:flex;
    align-items:center;
    cursor:pointer;
}
.section-share--icon {
    width:30px;
    height:30px;
    border-radius:15px;
    background-color:#CCC;
    margin-right:5px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section-share--icon img {
    height:12px;
}
.section-share--icon.twitter {
    background-color:#34c5f0;
}
.section-share--icon.linkedin {
    background-color:#127cb4;
}
.section-share--icon.facebook {
    background-color:#336297;
}
.section-share--icon.googleplus {
    background-color:#e74237;
}
.section-share--icon.pinterest {
    background-color:#b71c29;
}

.section-contact {
    max-width:450px;
    margin:auto;
    text-align:center;
}
.section-contact input[type=text],
.section-contact textarea {
    display:block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top:10px;
}
.section-contact textarea {
    height:100px;
    resize:none;
}
.section-contact--split {
    display:flex;
}
.section-contact--split input:first-child {
    margin-right:20px;
}

.section-contact .button{
    background-color: #B28756;

}

.section-contact .button:hover{
    background-color: black;
}

.section-map{
    background-image: url(../imagens/Screenshot\ from\ 2022-01-03\ 12-25-20.png);
    background-size: cover;
    background-position: center;   
    padding-top: 30px;
    padding-bottom: 30px;    
}

.section-map--area{
    width: 100vw;
    max-width: 1140px;
    height: auto;
    margin: auto;

}

.section-map--info{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    color: #000;
    

}

.section-map--info-item{
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 10px;
}

.section-map--info-item-img{
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #999;
    padding: 5px;
    border-radius: 50%;
    margin-right: 15px;
}

.section-map--info-item-img img{
    width: 15px;
    height: auto;
}

footer{
    display: flex;
    background-color: #000;
    color: #fff;
    flex-direction: column;
    height: auto;
}

.footer-area{
    max-width: 1140px;
    margin:auto;
    display: flex;
    justify-content: center;
}

.footer-social{
    display: flex;
    width: 280px;
    height: auto;   
    margin: 10px;
}

.footer-item-img{
    width: 25px;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 5px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer-item-img img{
    width: 10px;
    height: auto;
}

.footer-item-img:hover{
    cursor: pointer;
    background-color: #B28756;
}

.footer-desc{
    font-size: 11px;
    text-align:left;
    width: 280px;
    height: auto;
    margin: 10px;
}

.footer-contact{
    display: flex;
    width: 280px;
    height: auto;   
    margin: 10px;
    background-color: #333;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-contact-email input{
    display:block;
    width:100%;
    height:40px;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top:10px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
}

.footer_copy{
    border-top: 1px solid #2c2c2c;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}

.footer_copy p{
    align-items: center;
    justify-content: center;
    text-align: center;
}



@media (min-width:450px) and (max-width:875px){
    .logo{
        margin-left: 30px;
    }

    .menu-opener{
        display: block;
        width:45px;
        margin-right: 30px;
    }
    nav{
        display:none;
        position:absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top:100px;
        right: 0;

    }

    .menu ul{
        flex-direction: column;
    }
    .menu li a{
        font-weight: bold;
        height: 80px;
        font-size: 17px;
        margin-left: 50px;
        border: 0;
    }

    .menu li.active a{
        border: 0;
        color: #B28756;
    }

    .section-aboutus{
        flex-direction: column;

    }

    .section-aboutus--left{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .section-aboutus--right{
        width: auto;
    }

    .section-services{
        flex-wrap: wrap;
    }

    .section-service{
        min-width: 50%;
        margin-bottom: 30px;
    }

    .section-team{
        max-width: 580px;
    }

    .section-price-area{
        flex-wrap: wrap;
        margin: auto;
    }

    .section-price-area .sliders:first-child{
        margin: 0;
        margin-bottom: 20px;
    }

    .section-price-area .slide{
        min-width: 50%;
        margin-left: 80px;
    }

    .section-price-area .sliders{
        margin-bottom: 20px;
    }
    
    .section-premium--right{
        padding-right: 15px;
    }

    .section-premium--left{
        padding-left: 15px;
    }

    .section-facts{
        display: flex;
        flex-wrap: wrap;
    }

    .section-fact{
        min-width: 50%;
    }

    .section-map{
        padding-left: 30px;
        padding-right: 30px;
    }

    .section-map--area{
        width: auto;
    }
    
    .section-map--info{
        width: auto;
        padding-left: 30px;
    }

    .footer-area{
        flex-wrap: wrap;
        margin-top: 15px;    
    }

    .footer-contact{
        height: 150px;
    }
}


@media (max-width:450px){

    .logo{
        margin-left: 30px;
    }

    .menu-opener{
        display: block;
        width:45px;
        margin-right: 30px;
    }
    nav{
        display: none;
        position:absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 80vw;
        height: calc(100vh - 100px);
        top:100px;
        right: 0;

    }

    .menu ul{
        flex-direction: column;
    }
    .menu li a{
        font-weight: bold;
        height: 60px;
        font-size: 17px;
        margin-left: 30px;
        border: 0;
    }

    .menu li.active a{
        border: 0;
        color: #B28756;
    }

    .banner h1{
        font-size: 30px;
    }

    .banner h2{
        font-size: 17px;
    }

    .section-aboutus{
        flex-direction: column;

    }

    .section-aboutus--left{
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 30px;
        text-align: center;
    }

    .section-aboutus--right{
        width: auto;
        margin-left: 30px;
        margin-right: 30px;
    }

    .section-aboutus--right img{
        width: 100%;
    }

    .section-services{
        flex-wrap: wrap;
    }

    .section-service{
        min-width: 100%;
        margin-bottom: 30px;
    }

    .section-team{
        max-width: 280px;
    }

    .section-clients p{
        font-size: 13px;
    }

    .white .empresa{
        height: auto;
    }

    .section-img-area{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .section-img--empresa{
        margin: auto;
        margin-bottom: 20px;
        width: auto;
        height: auto;
    }

    .section-projects--filters{
        margin-right: 30px;
        margin-left: 30px;
    }

    .section-projects--photo{
        width: 320px;
    }

    .section-projects--photoarea{
        width: 300px;
        height: 190px;
        object-fit: cover;
    }

    .section-price-area{
        flex-wrap: wrap;
        margin: auto;
    }

    .section-price-area .sliders:first-child{
        margin: 0;
        margin-bottom: 20px;
    }

    .section-price-area .slide{
        min-width: 50%;
        margin-left: 80px;
    }

    .section-price-area .sliders{
        margin-bottom: 20px;
    }

    .section-premium .slidearea{
        flex-wrap: wrap;
    }
    
    .section-premium--right{
        padding-left: 15px;
        margin-top: 20px;
    }

    .section-premium--left{        
        margin: auto;
    }

    .section-facts{
        display: flex;
        flex-wrap: wrap;
    }

    .section-fact{
        min-width: 100%;
    }

    .section-share{
        flex-wrap: wrap;
    }
    .section-share--legend{
        margin-right: 10px;
    }
    
    .section-contact{
        max-width: 320px;
    }

    .section-map{
        padding-left: 30px;
        padding-right: 30px;
    }

    .section-map--area{
        width: auto;
    }
    
    .section-map--info{
        width: auto;
        padding-left: 30px;
    }

    .footer-area{
        flex-wrap: wrap;
        margin-top: 15px;    
    }

    .footer-contact{
        height: 150px;
    }
}